@tailwind base;
@tailwind components;
@tailwind utilities;

.bebas-neue-regular {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: 'Bebas Neue', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #e5e9f0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 15%;
  margin-left: 1rem;
  /* height: auto; */
}

.nav-layout {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
/* 
.nav-layout button {
  height: 2rem;
  margin-right: 1rem;
} */

/*-----DropDown menu ----*/

.home-main-bg {
  width: 100%;

  background-image: url('../../images/mainpageBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.home-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #81a1c1;
  color: aliceblue;
  display: flex;
  align-items: center;
}

/* #0968a4; */

@media screen and (max-width: 768px) {
  .home-main-bg {
    height: 25rem;
  }
}
