@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----DropDown menu ----*/

.dd {
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;
}

.dd-header {
  color: green;
}
